@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1) !important;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

.justify-content-space-evenly {
  justify-content: space-evenly !important;
}

.text_button {
  color: #3573bf;
  font-size: 15px;
  font-weight: 500;
}

.bgArea {
  background-image: url(../images/section_bg.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.breadcrumb {
  list-style: none;
  display: flex;
}

.breadcrumb li {
  margin: 0 5px;
}

.breadcrumb li a {
  text-decoration: none;
  color: #3573bf;
  font-weight: 600;
}

.breadcrumb li a:hover {
  text-decoration: underline;
}

.breadcrumb li::after {
  content: "/";
  margin-left: 5px;
}

.breadcrumb li:last-child::after {
  content: "";
}

.breadcrumb li {
  color: white;
  font-weight: 400;
}

body p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #666;
  text-align: justify;
}

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.loaded .Hero {
  display: block;
}

.Hero {
  display: none;
}

.loaded .AboutArea {
  display: block;
}

.AboutArea {
  display: none;
}
@keyframes spin {
  0% {
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: black;
  z-index: 99;
  /* Chrome, Opera 15+, Safari 3.1+ */
  /* IE 9 */
  transform: translateX(0);
  /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left,
#loader-wrapper .loader-section.section-top {
  left: 0;
}

#loader-wrapper .loader-section.section-right,
#loader-wrapper .loader-section.section-bottom {
  right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-up {
  /* Chrome, Opera 15+, Safari 3.1+ */
  /* IE 9 */
  transform: translateY(-100%);
  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader-wrapper .loader-section.section-bottom {
  /* Chrome, Opera 15+, Safari 3.1+ */
  /* IE 9 */
  transform: translateY(100%);
  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader-wrapper .loader-section.section-left {
  /* Chrome, Opera 15+, Safari 3.1+ */
  /* IE 9 */
  transform: translateX(-100%);
  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader-wrapper .loader-section.section-right {
  /* Chrome, Opera 15+, Safari 3.1+ */
  /* IE 9 */
  transform: translateX(100%);
  /* Firefox 16+, IE 10+, Opera */
}

.loaded {
  overflow: auto;
}

.loaded #loader {
  opacity: 0;
  transition: all 0.8s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
  transition: all 0.3s 3s ease-out;
}

.loaded #loader-wrapper .loader-section.section-up,
.loaded #loader-wrapper .loader-section.section-bottom,
.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {
  transition: all 2.7s 0.3s cubic-bezier(0.39, 1.05, 0.64, -0.04);
}

/*END OF LOADER ======================================*/
header {
  position: relative;
  height: 130px;
  position: fixed;
  width: 100%;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 0.5rem 0;
}
header .Lang_Search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
}
header .Lang_Search span {
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin-right: 0.6rem;
}
header .Logo {
  position: relative;
  z-index: 9999;
}
header .Logo img {
  width: 280px;
  height: 90px;
}
header .Logo::after {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 5%;
  background-color: white;
  height: 3px;
  left: 45px;
  animation: moveRightLeft 1s 6 ease-out;
}
@keyframes moveRightLeft {
  0%, 100% {
    left: 45px;
  }
  50% {
    left: 60%;
  }
}
header nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
header nav ul li {
  margin: 0 15px;
}
header nav ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
  font-size: 18px;
}
header .header-video nav ul li a {
  color: #fff;
}
header .header-white nav ul li a {
  color: #000;
}
header .btn {
  margin-left: 20px;
  padding: 10px 20px;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}
header .header-white .btn {
  border-color: #000;
  color: #000;
}
header .menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  position: relative;
  z-index: 10000;
}
header .menu-toggle .hamburger {
  width: 30px;
  height: 3px;
  background: #fff;
  position: relative;
  display: block;
  transition: all 0.3s ease-in-out;
}
header .menu-toggle .hamburger::before, header .menu-toggle .hamburger::after {
  content: "";
  width: 30px;
  height: 3px;
  background: #fff;
  position: absolute;
  transition: all 0.3s ease-in-out;
}
header .menu-toggle .hamburger::before {
  top: -10px;
}
header .menu-toggle .hamburger::after {
  bottom: -10px;
}
header .menu-toggle.active .hamburger {
  background: transparent;
}
header .menu-toggle.active .hamburger::before {
  top: 0;
  transform: rotate(45deg);
}
header .menu-toggle.active .hamburger::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.popup-menu {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: #003e89;
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 9998;
  overflow: hidden;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.popup-menu .borderType_ym {
  border-left: 5px solid #a4a4a4;
}
.popup-menu .absoClass_ym {
  height: 90%;
  position: absolute;
  bottom: 0;
  border-top: 5px solid #a4a4a4;
}
.popup-menu .absoClass_ym .row {
  height: 100%;
}
.popup-menu .popup-left,
.popup-menu .popup-right {
  width: 50%;
  opacity: 0;
}
.popup-menu .popup-left .DffAl,
.popup-menu .popup-right .DffAl {
  display: flex;
  align-items: start;
  flex-direction: column;
}
.popup-menu .popup-left .DffAl h4,
.popup-menu .popup-right .DffAl h4 {
  color: white;
}
.popup-menu .popup-left .DffAl span,
.popup-menu .popup-right .DffAl span {
  color: white;
  font-weight: 400;
}
.popup-menu .popup-left .DffAl .smIcons,
.popup-menu .popup-right .DffAl .smIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20%;
  margin-top: 1rem;
}
.popup-menu .popup-left .DffAl .smIcons li,
.popup-menu .popup-right .DffAl .smIcons li {
  list-style: none;
}
.popup-menu .popup-left .DffAl .TelLink,
.popup-menu .popup-right .DffAl .TelLink {
  padding: 1rem 0;
}
.popup-menu .popup-left .DffAl .TelLink i,
.popup-menu .popup-right .DffAl .TelLink i {
  margin-right: 0.5rem;
}
.popup-menu .popup-left ul {
  list-style: none;
  padding: 0;
}
.popup-menu .popup-left ul li {
  margin: 30px 0;
}
.popup-menu .popup-left ul li a {
  text-decoration: none;
  color: #a4a4a4;
  font-size: 45px;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}
.popup-menu .popup-left ul li:hover a {
  color: #fff;
}
.popup-menu .popup-left ul .submenu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 20px;
}
.popup-menu .popup-left ul .submenu li {
  margin: 10px 0;
}
.popup-menu .popup-left ul .submenu li a {
  text-decoration: none;
  color: #a4a4a4;
  font-size: 30px;
  font-weight: 400;
  transition: 0.3s ease-in-out;
}
.popup-menu .popup-left ul .submenu li:hover a {
  color: #fff;
}
.popup-menu .popup-right .submenu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 20px;
}
.popup-menu .popup-right .submenu li {
  margin: 10px 0;
}
.popup-menu .popup-right .submenu li a {
  text-decoration: none;
  color: #a4a4a4;
  font-size: 30px;
  font-weight: 400;
  transition: 0.3s ease-in-out;
}
.popup-menu .popup-right .submenu li:hover a {
  color: #fff;
}
.popup-menu .popup-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.popup-menu .popup-right .close-btn {
  font-size: 30px;
  cursor: pointer;
}
.popup-menu .popup-right a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  margin-top: 20px;
}
.popup-menu .popup-right .DemoPop {
  font-size: 60px;
  border-bottom: 1px solid #fff;
  color: #f5f5f5;
}
.popup-menu .popup-right .DemoPop i {
  font-size: 40px;
}
.popup-menu .CpyPop {
  margin-top: 2rem;
  color: #fff;
  font-size: 14px;
}

.Hero .VideoArea {
  position: relative;
}
.Hero .VideoArea video {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.Hero .VideoArea .TextArea {
  position: absolute;
  z-index: 99;
  bottom: 20%;
  width: 45%;
  left: 30px;
}
.Hero .VideoArea .TextArea h1 {
  font-size: 60px;
  color: white;
  font-weight: 500;
}

.ServicesHero .VideoArea {
  position: relative;
}
.ServicesHero .VideoArea video {
  width: 100%;
  height: 75vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.ServicesHero .VideoArea .TextArea {
  position: absolute;
  z-index: 99;
  bottom: 20%;
  width: 45%;
  left: 30px;
}
.ServicesHero .VideoArea .TextArea .LineHead {
  position: relative;
  color: wheat;
  left: 50px;
  font-size: 18px;
}
.ServicesHero .VideoArea .TextArea .LineHead::before {
  content: "";
  position: absolute;
  left: -50px;
  width: 40px;
  height: 3px;
  z-index: 99;
  color: white;
  background-color: white;
  bottom: 10px;
}
.ServicesHero .VideoArea .TextArea h1 {
  font-size: 50px;
  color: white;
  font-weight: 500;
}

.DetailPage {
  padding: 3rem 0;
  position: relative;
  z-index: 99;
  background-image: url(../images/section_bg.png);
  position: relative;
  width: 100%;
  height: 50vh;
  background-size: contain;
  background-position: center;
  overflow-x: hidden;
  transition: background-image 0.5s ease-in-out;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.DetailPage .BigText {
  display: flex;
  align-items: center;
  justify-content: center;
}
.DetailPage .BigText h2 {
  font-size: 50px;
  font-weight: 400;
  text-align: center;
}
.DetailPage .LittleText {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  text-align: center;
}
.DetailPage .LittleText p {
  font-size: 18px;
  font-weight: 400;
  width: 60%;
  color: #666;
  text-align: center;
}

.SlideDown {
  padding: 3rem 0;
}
.SlideDown .BigText {
  display: flex;
  align-items: center;
  justify-content: center;
}
.SlideDown .BigText h2 {
  font-size: 50px;
  font-weight: 400;
  text-align: center;
}
.SlideDown .LittleText {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.SlideDown .LittleText h4 {
  font-size: 25px;
  font-weight: 300;
  width: 80%;
  text-align: center;
  color: rgb(75, 75, 75);
}

.ThreeSection {
  background-color: #0b203a;
  position: relative;
  width: 100%;
  margin: 3rem 0;
  padding: 5rem;
  overflow: hidden;
}
.ThreeSection #particleCanvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.ThreeSection .AboutArea {
  display: flex;
  flex-direction: column;
}
.ThreeSection .AboutArea h3 {
  color: rgba(255, 255, 255, 0.6509803922);
  padding-bottom: 1rem;
  position: relative;
  display: inline-block;
  font-weight: 400;
  font-size: 20px;
}
.ThreeSection .AboutArea h3::after {
  content: "";
  display: inline-block;
  width: 250px;
  height: 1px;
  background-color: #ffffff;
  position: absolute;
  top: 25%;
  left: 130px;
  transform: translateY(-50%);
}
.ThreeSection .AboutArea p {
  color: #ffffff;
  line-height: 1.6;
  text-align: justify;
  width: 100%;
  font-size: 22px;
  font-weight: 300;
}
.ThreeSection .T-hHeading h3 {
  color: rgba(255, 255, 255, 0.6509803922);
  padding-bottom: 1rem;
  position: relative;
  display: inline-block;
  font-weight: 400;
  font-size: 20px;
}
.ThreeSection .T-hHeading h3::after {
  content: "";
  display: inline-block;
  width: 250px;
  height: 1px;
  background-color: #ffffff;
  position: absolute;
  top: 25%;
  left: 110%;
  transform: translateY(-50%);
}
.ThreeSection .T-hHeading ul {
  list-style: none;
  padding: 0;
}
.ThreeSection .T-hHeading ul li {
  color: #ffffff;
  margin: 0.5rem 0;
  position: relative;
  padding-left: 20px;
}
.ThreeSection .T-hHeading ul li::before {
  content: "→";
  position: absolute;
  left: 0;
  color: #ffffff;
}

.MissionVisionSection {
  background-color: #ffffff;
  /* Arka plan rengini beyaz yapalım */
  padding: 2rem;
  text-align: left;
}
.MissionVisionSection .container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.MissionVisionSection .container .header h2 {
  font-size: 2.5rem;
  color: #000000;
  margin: 0;
}
.MissionVisionSection .container .header .mission-vision-button {
  display: inline-block;
  background-color: #0b203a;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  position: relative;
}
.MissionVisionSection .container .header .mission-vision-button .arrow {
  margin-right: 0.5rem;
  position: relative;
  top: 2px;
}
.MissionVisionSection h3 {
  font-size: 2rem;
  color: #000000;
  margin-bottom: 1rem;
}
.MissionVisionSection p {
  font-size: 18px;
  color: #666;
  line-height: 1.6;
  text-align: justify;
  width: 80%;
}
.MissionVisionSection .MissionArea,
.MissionVisionSection .VisionArea {
  margin: 2rem 0;
}
.MissionVisionSection .MissionArea h3 {
  color: #0b203a;
  font-size: 20px;
}
.MissionVisionSection .VisionArea h3 {
  color: #0b203a;
  font-size: 20px;
}

.SwiperSection {
  position: relative;
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  transition: background-image 0.5s ease-in-out;
}
.SwiperSection .swiper-container {
  width: 100%;
  height: 100%;
}
.SwiperSection .swiper-container .swiper-wrapper {
  display: flex;
}
.SwiperSection .swiper-container .swiper-slide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  padding: 1rem;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.SwiperSection .swiper-container .swiper-slide .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.SwiperSection .swiper-container .swiper-slide .content {
  position: relative;
  z-index: 2;
  color: #ffffff;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.SwiperSection .swiper-container .swiper-slide .content i {
  font-size: 2rem;
}
.SwiperSection .swiper-container .swiper-slide .content p {
  margin: 0;
  color: white;
  font-weight: 500;
  font-size: 20px;
}
.SwiperSection .swiper-container .swiper-slide:hover {
  z-index: 10;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  opacity: 1;
}
.SwiperSection .swiper-container .swiper-slide:not(:hover) {
  opacity: 0.7;
}
.SwiperSection .swiper-container .swiper-button-next,
.SwiperSection .swiper-container .swiper-button-prev {
  color: #ffffff;
}
.SwiperSection .swiper-container .swiper-button-next,
.SwiperSection .swiper-container .swiper-button-prev {
  color: #ffffff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}
.SwiperSection .swiper-container .swiper-button-next:hover,
.SwiperSection .swiper-container .swiper-button-prev:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.SwiperSection .swiper-container .swiper-button-next::after,
.SwiperSection .swiper-container .swiper-button-prev::after {
  font-size: 20px;
}
.SwiperSection .swiper-container .swiper-button-next {
  right: 10px;
}
.SwiperSection .swiper-container .swiper-button-prev {
  left: 10px;
}
.SwiperSection .swiper-container .swiper-pagination {
  bottom: 10px;
}
.SwiperSection .swiper-container .swiper-pagination-bullet {
  background: #ffffff;
}

.ServicesAreaSwiper {
  margin: 3rem 0;
  margin-bottom: 0;
}

.InfoSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #f4f4f4;
}
.InfoSection .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.InfoSection .content {
  max-width: 600px;
}
.InfoSection .content h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.InfoSection .content p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 2rem;
}
.InfoSection .content .stats {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}
.InfoSection .content .stats .stat-item {
  display: flex;
  align-items: center;
  border: 3px dashed #d2daee;
  padding: 20px 10px;
  border-radius: 5px;
}
.InfoSection .content .stats .stat-item i {
  font-size: 2rem;
  color: #007bff;
  margin-right: 0.6rem;
}
.InfoSection .content .stats .stat-item div {
  display: flex;
  flex-direction: column;
}
.InfoSection .content .stats .stat-item div span {
  font-size: 1.5rem;
  font-weight: bold;
}
.InfoSection .content .stats .stat-item div p {
  margin: 0;
  font-size: 1rem;
  color: #666;
}
.InfoSection .content .contact-button {
  display: inline-block;
  background-color: rgb(11, 32, 58);
  color: rgb(255, 255, 255);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}
.InfoSection .content .contact-button i {
  margin-right: 0.5rem;
}
.InfoSection .video {
  position: relative;
  border-radius: 10px;
}
.InfoSection .video video {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.InfoSection .video img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.InfoSection .video .play-button {
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.InfoSection .video .play-button i {
  font-size: 2rem;
  color: #fff;
}
.InfoSection .video .play-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

footer .list-inline {
  position: relative;
  left: 40px;
}
footer .bg-overlay {
  background: url("../images/footer_bg.png") no-repeat center center/cover;
  position: relative;
  padding: 50px 80px;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
}
footer .bg-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}
footer .text-center {
  position: relative;
  z-index: 1;
}
footer .list-inline-item a {
  color: #fff;
  font-size: 1.5rem;
  transition: color 0.3s;
}
footer .list-inline-item a:hover {
  color: #007bff;
}
footer h5 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
footer p {
  color: #a4a4a4;
  font-size: 1rem;
  margin: 0.25rem 0;
}
footer .btn {
  font-size: 1.2rem;
}
footer .logo {
  width: 300px;
}
footer .list-unstyled li {
  margin-bottom: 0.5rem;
}
footer .list-unstyled a {
  color: #a4a4a4;
  text-decoration: none;
  transition: color 0.3s;
}
footer .list-unstyled a:hover {
  color: #3573bf;
}
footer .z-Ind {
  height: 15rem;
  z-index: 9;
}
footer .pad-5 {
  position: relative;
}
footer .CopyRightArea {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  position: relative;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #393939;
}
footer .CopyRightArea::after {
  content: "";
  position: absolute;
  left: -80px;
  /* Sol taraftan 80 piksel sola */
  width: calc(100% + 160px);
  /* Orijinal genişliğe her iki taraftan 80 piksel ekle */
  height: 1px;
  background-color: #979595;
  top: 10px;
}
footer .CopyRightArea::before {
  content: "";
  position: absolute;
  left: -80px;
  /* Sol taraftan 80 piksel sola */
  width: calc(100% + 160px);
  /* Orijinal genişliğe her iki taraftan 80 piksel ekle */
  height: 1px;
  background-color: #979595;
  bottom: 10px;
}
footer .CopyRightArea .col-md-6 {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .CopyRightArea .col-md-6 span {
  color: white;
  font-size: 13px;
  z-index: 9;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(3%);
  }
  100% {
    transform: translateX(0);
  }
}
footer .NextPagearea {
  position: relative;
  width: 32%;
  height: 100vh;
  background: url("../images/footer_object.png") no-repeat center center/contain;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slide 5s infinite ease-in-out;
}
footer .content {
  text-align: center;
  color: white;
  text-decoration: none;
  transition: transform 0.3s ease;
}
footer .content:hover {
  transform: scale(1.1);
}
footer .content:hover .circle {
  background-color: rgb(255, 255, 255);
}
footer .content:hover .circle span {
  color: #007BFF;
}
footer .content:hover .about-link {
  color: white;
  font-size: 50px;
  font-weight: 600;
}
footer .circle {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}
footer .circle span {
  font-size: 40px;
  color: #000;
  transition: color 0.3s ease;
}
footer .about-link {
  font-size: 40px;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.dna-section {
  padding: 50px 0;
}
.dna-section .ml-5 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
}
.dna-section .bordered-title {
  position: relative;
  margin-bottom: 30px;
  font-weight: 500;
}
.dna-section .bordered-title::before, .dna-section .bordered-title::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background: rgba(0, 0, 0, 0.1882352941);
}
.dna-section .bordered-title::before {
  top: -10px;
}
.dna-section .bordered-title::after {
  bottom: -10px;
}
.dna-section h2 {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 300;
}
.dna-section p {
  font-size: 16px;
  line-height: 1.5;
}
.dna-section .img-fluid {
  max-width: 100%;
  height: auto;
}
.dna-section .TopImg {
  position: relative;
}
.dna-section .TopImg img {
  transform: translateY(-50px);
}

.hakkimizdaDnaSection {
  margin-top: 5rem;
}
.hakkimizdaDnaSection #video_hakkimzda {
  width: 100%;
  height: 100%;
}

.Annotation {
  margin-top: 2rem;
  padding: 2rem;
  position: relative;
  background-color: #f5f5f5;
}
.Annotation .Text_Head {
  width: 90%;
}
.Annotation .Text_Head p {
  text-align: justify;
}
.Annotation .BgDiffListArea {
  padding: 1rem 10px;
  box-shadow: 0px 0px 34px 8px rgba(158, 158, 158, 0.1);
}
.Annotation .BgDiffListArea .ListTitle {
  font-weight: 600;
}
.Annotation .BgDiffListArea ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 1rem 0;
}
.Annotation .BgDiffListArea ul li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2%;
  margin: 5px 0;
}
.Annotation .BgDiffListArea ul li img {
  width: 15%;
}

.corporateSpace {
  margin-top: 2rem;
  padding: 3rem;
  position: relative;
  background-color: #f5f5f5;
}
.corporateSpace .CorparateHead h3 {
  font-size: 30px;
}
.corporateSpace .MainCorporateSpace {
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
}
.corporateSpace .MainCorporateSpace .HeadImg img {
  width: 15%;
}

.cta-wrapper {
  position: relative;
  padding: 30px 0;
}
.cta-wrapper .container {
  display: flex;
  justify-content: center;
}
.cta-wrapper .cta-section {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  border-top-left-radius: 20% !important;
  border-bottom-right-radius: 20% !important;
}
.cta-wrapper .cta-content {
  width: 85%;
}
.cta-wrapper .cta-content h1 {
  font-size: 36px;
  color: #333333;
}
.cta-wrapper .cta-content p {
  font-size: 18px;
  color: #666666;
}
.cta-wrapper .custom-btn {
  background: transparent;
  color: black;
  border: 1px solid;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  width: 30%;
  justify-content: center;
}
.cta-wrapper .custom-btn i {
  margin-right: 10px;
}
.cta-wrapper .custom-btn:hover {
  background-color: #0056b3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  color: white;
}
.cta-wrapper .geometric-shape {
  position: absolute;
  top: 0%;
  right: 10%;
  width: 300px;
  height: 300px;
  background: linear-gradient(135deg, rgba(0, 62, 137, 0.5) 0%, rgba(37, 117, 252, 0.46) 100%);
  filter: blur(100px);
  z-index: 99;
}

.Statisc {
  position: relative;
}
.Statisc .StatstcHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 6rem;
}
.Statisc .StatstcHeader h2 {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}
.Statisc .container .row .col-md-4:nth-child(1) .AreaStats {
  animation: moveStats1 10s infinite alternate ease-in-out;
}
.Statisc .container .row .col-md-4:nth-child(2) .AreaStats {
  animation: moveStats2 10s infinite alternate ease-in-out;
}
.Statisc .container .row .col-md-4:nth-child(3) .AreaStats {
  animation: moveStats3 10s infinite alternate ease-in-out;
}
.Statisc .AreaStats {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 50px 0;
}
.Statisc .AreaStats .bg {
  background-color: #fff3f3;
  width: 200px;
  height: 200px;
  position: absolute;
  top: -40px;
  border-radius: 100%;
}
.Statisc .AreaStats::before, .Statisc .AreaStats::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 225%;
  filter: blur(30px);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.Statisc .AreaStats::before {
  background: radial-gradient(circle, rgba(0, 62, 137, 0.521) 0%, rgba(37, 117, 252, 0.46) 100%);
}
.Statisc .AreaStats::after {
  background: radial-gradient(circle, rgba(0, 62, 137, 0.521) 0%, rgba(0, 62, 137, 0.5) 100%);
}
.Statisc .AreaStats:nth-child(2)::before {
  background: radial-gradient(circle, rgba(0, 62, 137, 0.521) 0%, rgba(117, 252, 37, 0.46) 100%);
}
.Statisc .AreaStats:nth-child(2)::after {
  background: radial-gradient(circle, rgba(117, 252, 37, 0.46) 0%, rgba(0, 62, 137, 0.521) 100%);
}
.Statisc .AreaStats:nth-child(3)::before {
  background: radial-gradient(circle, rgba(137, 62, 0, 0.5) 0%, rgba(252, 117, 37, 0.46) 100%);
}
.Statisc .AreaStats:nth-child(3)::after {
  background: radial-gradient(circle, rgba(252, 117, 37, 0.46) 0%, rgba(137, 62, 0, 0.5) 100%);
}
.Statisc .AreaStats .Number {
  font-size: 40px;
  font-weight: 600;
  color: white;
  z-index: 3;
}
.Statisc .AreaStats .StatTitle {
  font-size: 25px;
  font-weight: 500;
  color: white;
  z-index: 3;
}

@keyframes moveStats1 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(20px, -20px);
  }
  50% {
    transform: translate(-20px, 20px);
  }
  75% {
    transform: translate(20px, 20px);
  }
  100% {
    transform: translate(-20px, -20px);
  }
}
@keyframes moveStats2 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-20px, 20px);
  }
  50% {
    transform: translate(20px, -20px);
  }
  75% {
    transform: translate(-20px, -20px);
  }
  100% {
    transform: translate(20px, 20px);
  }
}
@keyframes moveStats3 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(20px, 20px);
  }
  50% {
    transform: translate(-20px, -20px);
  }
  75% {
    transform: translate(-20px, 20px);
  }
  100% {
    transform: translate(20px, -20px);
  }
}
.sidebar {
  position: fixed;
  top: 35%;
  left: 0;
  width: 360px;
  background-color: rgba(244, 244, 244, 0.9);
  z-index: 10;
  display: none;
  padding: 20px;
}
.sidebar ul {
  transition: 0.3s ease;
}
.sidebar ul li {
  cursor: pointer;
  margin: 15px 0;
  transition: 0.3s ease-in-out;
}
.sidebar ul li:hover {
  transition: 0.3s ease;
  text-decoration: underline;
}
.sidebar ul li.active {
  font-weight: bold;
  text-decoration: underline;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.section {
  height: 90vh;
  padding: 20px;
  background-color: rgba(255, 249, 248, 0.9294117647);
  margin-bottom: 10px;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.5s, transform 0.5s;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 70px 45px;
  border-radius: 30px;
}
.section .HeadingArea h2 {
  position: relative;
  margin-bottom: 30px;
  font-size: 70px;
}
.section .HeadingArea h2::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  height: 1px;
  background: rgba(0, 0, 0, 0.1882352941);
}
.section .HeadingArea h2::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  height: 1px;
  background: rgba(0, 0, 0, 0.1882352941);
}
.section .TextAndButtn h4 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: #636363;
}
.section .TextAndButtn .SoMoreBtn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}
.section .TextAndButtn .SoMoreBtn:hover {
  background-color: #333;
}

.section:nth-child(odd) {
  background-color: rgba(0, 62, 137, 0.0705882353);
}

.GsapFixSection {
  position: relative;
}

.contact-section {
  padding: 40px 0;
}
.contact-section .container {
  max-width: 1200px;
  margin: 0 auto;
}
.contact-section h2, .contact-section h3 {
  color: #333;
  margin-bottom: 20px;
}
.contact-section .contact-form {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}
.contact-section .contact-form .stK {
  position: sticky;
  top: 0;
}
.contact-section .form-outline {
  margin-bottom: 20px;
}
.contact-section .form-outline input, .contact-section .form-outline textarea {
  border: 1px solid #ddd;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
}
.contact-section .btn {
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.contact-section .btn:hover {
  background-color: #0056b3;
}
.contact-section .contact-info .info-box {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1;
  min-width: calc(50% - 10px);
  display: flex;
  flex-direction: column;
  height: 11rem;
  margin: 20px 0;
}
.contact-section .contact-info .info-box h4 {
  margin-bottom: 10px;
  color: black;
  display: flex;
  gap: 5%;
  align-items: center;
  justify-content: start;
  font-size: 20px;
  margin-bottom: 20px;
}
.contact-section .contact-info .info-box h4 i {
  color: #007bff;
}
.contact-section .contact-info .info-box p, .contact-section .contact-info .info-box ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.contact-section .contact-info .info-box p li, .contact-section .contact-info .info-box ul li {
  margin-bottom: 10px;
}
.contact-section .contact-info .info-box p li a, .contact-section .contact-info .info-box ul li a {
  color: #333;
  text-decoration: none;
}
.contact-section .contact-info .info-box p li a:hover, .contact-section .contact-info .info-box ul li a:hover {
  text-decoration: underline;
}
.contact-section .map {
  margin-top: 20px;
}
.contact-section .map iframe {
  border-radius: 10px;
}

.AboutAreaContact {
  padding: 15rem 0;
  background-color: #0a1b27;
  position: relative;
  margin: 5rem 0;
  overflow: hidden;
}
.AboutAreaContact .LittleHead {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  height: 60vh;
  margin-top: 2.5rem;
}
.AboutAreaContact .LittleHead .LittleText {
  opacity: 0.65;
  color: #ffffff;
  font-size: 20px;
}
.AboutAreaContact .LittleHead h4 {
  text-align: center;
  font-size: min(72px, 24.561px + 2.79vw);
  color: white;
  font-weight: 600;
  letter-spacing: 2;
  margin: 10px 0;
}
.AboutAreaContact .LittleHead h4 .Bgtext {
  background-color: orange;
}
.AboutAreaContact .LittleHead p {
  margin: 10px 0;
  opacity: 0.65;
  color: #ffffff;
  font-size: 18px;
  padding: 0 15rem;
  text-align: center;
}
.AboutAreaContact .LittleHead .btnContact {
  background-color: white;
  padding: 10px 15px;
  text-decoration: none;
  color: black;
  margin-top: 0.5rem;
  border-radius: 10px;
}
.AboutAreaContact .symImgOne, .AboutAreaContact .symImgTwo, .AboutAreaContact .symImgThree, .AboutAreaContact .symImgFour, .AboutAreaContact .symImgFive {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  pointer-events: none;
  border-radius: 24px;
  width: 626px;
  height: 293px;
}
.AboutAreaContact .symImgOne {
  left: -22%;
  top: 5%;
}
.AboutAreaContact .symImgTwo {
  left: 30%;
  top: 5%;
}
.AboutAreaContact .symImgThree {
  right: -22%;
  top: 5%;
}
.AboutAreaContact .symImgFour {
  bottom: 5%;
  left: -30%;
}
.AboutAreaContact .symImgFive {
  bottom: 5%;
  right: -30%;
}

.accordion__item {
  background-color: #f4f4f4;
  border-bottom: 1px solid white;
  padding: 2% 4%;
  position: relative;
  list-style-type: none;
}
.accordion__item:not(:last-of-type) {
  border-bottom: 1px solid #d7d9d8;
}
.accordion__item input[type=checkbox] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.accordion__content {
  position: relative;
  padding-left: 20px;
}
.accordion__content::before {
  content: "•";
  position: absolute;
  left: 0;
  color: black;
}
.accordion__content:first-child {
  margin-top: 1rem;
}

.TitleArr {
  margin-bottom: 1rem;
}

.accordion {
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  color: black;
  border: 1px solid #d7d9d8;
}

.accordion__title {
  padding-right: 1.5rem;
  font-size: 1.1rem;
}

.accordion__arrow {
  position: absolute;
  right: 0;
  margin-top: 10px;
  margin-right: 6%;
}
.accordion__arrow::before {
  transform: translateX(-2px) rotate(45deg);
}
.accordion__arrow::after {
  transform: translateX(2px) rotate(-45deg);
}

.accordion__arrow::before,
.accordion__arrow::after {
  content: "";
  position: absolute;
  background-color: black;
  width: 3px;
  height: 9px;
  transition: transform 0.25s ease-in-out;
}

input[type=checkbox]:checked ~ .accordion__arrow::before {
  transform: translateX(2px) rotate(45deg);
}
input[type=checkbox]:checked ~ .accordion__arrow::after {
  transform: translateX(-2px) rotate(-45deg);
}
input[type=checkbox]:checked ~ .accordion__content-wrapper {
  max-height: 0;
  opacity: 0;
}

.accordion__content-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-height: 100%;
  margin: 0;
  opacity: 1;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
  line-height: 1.6;
  z-index: 2;
  position: relative;
}

.th_col {
  flex: 1 1 30%;
  margin: 5px;
  padding: 10px 5px;
  border: 1px solid rgb(177, 177, 177);
  color: black;
  font-weight: 400;
  transition: 0.2s ease-in;
  cursor: pointer;
  flex: 1 45%;
}
.th_col:hover {
  background-color: #003e89;
  color: white;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
  .geometric-shape {
    display: none;
  }
}
.dna-section ul {
  padding: 0;
}

.TopImg {
  top: 80px;
}

.geometric-shape {
  display: none;
}

.geometric-shape {
  display: none;
}

footer .CopyRightArea::before {
  display: none;
}
footer .CopyRightArea::after {
  display: none;
}

.Doc {
  position: relative;
}
.Doc .doctor-names {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative; /* For Safari */
  position: sticky;
  top: 145px;
}
.Doc .doctor-names .stickyArea a {
  display: block;
  margin: 0 0 10px;
  font-size: 18px;
  color: #333;
  text-decoration: none;
}
.Doc .doctor-names .stickyArea a:hover {
  color: #007bff; /* Bootstrap primary color */
}
.Doc .doctor-names .stickyArea a.activeDoc {
  font-weight: bold;
  color: #007bff; /* Bootstrap primary color */
}
.Doc .doctor-names .stickyArea hr {
  margin: 10px 0;
  border: 0;
  border-top: 1px solid #808080;
}
.Doc .doctor-info {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin-bottom: 20px;
}
.Doc .doctor-info img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 20px;
}
.Doc .doctor-info h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}
.Doc .doctor-info p {
  font-size: 16px;
  color: #666;
  margin: 0 0 10px;
}
.Doc .doctor-info .doctor-details {
  margin-top: 20px;
}
.Doc .doctor-info .doctor-details table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
.Doc .doctor-info .doctor-details table th, .Doc .doctor-info .doctor-details table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
.Doc .doctor-info .doctor-details table th {
  background-color: #f2f2f2;
  font-weight: bold;
}
.Doc .doctor-info .doctor-details table td {
  background-color: #fff;
}

.logosArea {
  padding: 5rem 0;
  padding-top: 5px;
}

.content-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */