@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.loaded .Hero {
  display: block;
}

.Hero {
  display: none;
}
@keyframes spin {
  0% { /* Chrome, Opera 15+, Safari 3.1+ */ /* IE 9 */
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% { /* Chrome, Opera 15+, Safari 3.1+ */ /* IE 9 */
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: black;
  z-index: 99; /* Chrome, Opera 15+, Safari 3.1+ */ /* IE 9 */
  transform: translateX(0); /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left, #loader-wrapper .loader-section.section-top {
  left: 0;
}

#loader-wrapper .loader-section.section-right, #loader-wrapper .loader-section.section-bottom {
  right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-up { /* Chrome, Opera 15+, Safari 3.1+ */ /* IE 9 */
  transform: translateY(-100%); /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader-wrapper .loader-section.section-bottom { /* Chrome, Opera 15+, Safari 3.1+ */ /* IE 9 */
  transform: translateY(100%); /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader-wrapper .loader-section.section-left { /* Chrome, Opera 15+, Safari 3.1+ */ /* IE 9 */
  transform: translateX(-100%); /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader-wrapper .loader-section.section-right { /* Chrome, Opera 15+, Safari 3.1+ */ /* IE 9 */
  transform: translateX(100%); /* Firefox 16+, IE 10+, Opera */
}

.loaded {
  overflow: auto;
}

.loaded #loader {
  opacity: 0;
  transition: all 0.8s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
  transition: all 0.3s 3s ease-out;
}

.loaded #loader-wrapper .loader-section.section-up,
.loaded #loader-wrapper .loader-section.section-bottom,
.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {
  transition: all 2.7s 0.3s cubic-bezier(0.39, 1.05, 0.64, -0.04);
}

/*END OF LOADER ======================================*/
header {
  position: relative;
  height: 100px;
  position: fixed;
  width: 100%;
  z-index: 9999;
}
header .Logo {
  position: relative;
  z-index: 9999;
}
header .Logo img {
  width: 70%;
}
header .Logo::after {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 5%;
  background-color: white;
  height: 3px;
  left: 15px;
  animation: moveRightLeft 1s 6 ease-out;
}
@keyframes moveRightLeft {
  0%, 100% {
    left: 15px;
  }
  50% {
    left: 60%;
  }
}

.Hero .VideoArea {
  position: relative;
}
.Hero .VideoArea video {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.Hero .VideoArea .TextArea {
  position: absolute;
  z-index: 99;
  bottom: 20%;
  width: 45%;
  left: 30px;
}
.Hero .VideoArea .TextArea h1 {
  font-size: 60px;
  color: white;
  font-weight: 500;
}

.SlideDown {
  padding: 3rem 0;
}
.SlideDown .BigText {
  display: flex;
  align-items: center;
  justify-content: center;
}
.SlideDown .BigText h2 {
  font-size: 50px;
  font-weight: 400;
}
.SlideDown .LittleText {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.SlideDown .LittleText h4 {
  font-size: 25px;
  font-weight: 400;
  width: 50%;
}

.ThreeSection {
  background-color: #0b203a;
  position: relative;
  width: 100%;
  margin: 3rem 0;
  padding: 5rem;
  overflow: hidden;
}
.ThreeSection #particleCanvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.ThreeSection .AboutArea h3 {
  color: rgba(255, 255, 255, 0.6509803922);
  padding-bottom: 1rem;
  position: relative;
  display: inline-block;
  font-weight: 400;
  font-size: 20px;
}
.ThreeSection .AboutArea h3::after {
  content: "";
  display: inline-block;
  width: 250px;
  height: 1px;
  background-color: #ffffff;
  position: absolute;
  top: 30%;
  left: 110%;
  transform: translateY(-50%);
}
.ThreeSection .AboutArea p {
  color: #ffffff;
  line-height: 1.6;
  text-align: justify;
  width: 80%;
  font-size: 23px;
  font-weight: 300;
}
.ThreeSection .T-hHeading h3 {
  color: rgba(255, 255, 255, 0.6509803922);
  padding-bottom: 1rem;
  position: relative;
  display: inline-block;
  font-weight: 400;
  font-size: 23px;
}
.ThreeSection .T-hHeading h3::after {
  content: "";
  display: inline-block;
  width: 250px;
  height: 1px;
  background-color: #ffffff;
  position: absolute;
  top: 30%;
  left: 110%;
  transform: translateY(-50%);
}
.ThreeSection .T-hHeading ul {
  list-style: none;
  padding: 0;
}
.ThreeSection .T-hHeading ul li {
  color: #ffffff;
  margin: 0.5rem 0;
  position: relative;
  padding-left: 20px;
}
.ThreeSection .T-hHeading ul li::before {
  content: "→";
  position: absolute;
  left: 0;
  color: #ffffff;
}

.MissionVisionSection {
  background-color: #ffffff; /* Arka plan rengini beyaz yapalım */
  padding: 2rem;
  text-align: left;
}
.MissionVisionSection .container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.MissionVisionSection .container .header h2 {
  font-size: 2.5rem;
  color: #000000;
  margin: 0;
}
.MissionVisionSection .container .header .mission-vision-button {
  display: inline-block;
  background-color: #0b203a;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  position: relative;
}
.MissionVisionSection .container .header .mission-vision-button .arrow {
  margin-right: 0.5rem;
  position: relative;
  top: 2px;
}
.MissionVisionSection h3 {
  font-size: 2rem;
  color: #000000;
  margin-bottom: 1rem;
}
.MissionVisionSection p {
  font-size: 18px;
  color: #666;
  line-height: 1.6;
  text-align: justify;
  width: 80%;
}
.MissionVisionSection .MissionArea, .MissionVisionSection .VisionArea {
  margin: 2rem 0;
}
.MissionVisionSection .MissionArea h3 {
  color: #0b203a;
  font-size: 20px;
}
.MissionVisionSection .VisionArea h3 {
  color: #0b203a;
  font-size: 20px;
}

.SwiperSection {
  position: relative;
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  transition: background-image 0.5s ease-in-out;
}
.SwiperSection .swiper-container {
  width: 100%;
  height: 100%;
}
.SwiperSection .swiper-container .swiper-wrapper {
  display: flex;
}
.SwiperSection .swiper-container .swiper-slide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  padding: 1rem;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.SwiperSection .swiper-container .swiper-slide .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.SwiperSection .swiper-container .swiper-slide .content {
  position: relative;
  z-index: 2;
  color: #ffffff;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.SwiperSection .swiper-container .swiper-slide .content i {
  font-size: 2rem;
}
.SwiperSection .swiper-container .swiper-slide .content p {
  margin: 0;
}
.SwiperSection .swiper-container .swiper-slide:hover {
  transform: translateY(-10px);
  z-index: 10;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  opacity: 1;
}
.SwiperSection .swiper-container .swiper-slide:not(:hover) {
  opacity: 0.7;
}
.SwiperSection .swiper-container .swiper-button-next, .SwiperSection .swiper-container .swiper-button-prev {
  color: #ffffff;
}
.SwiperSection .swiper-container .swiper-button-next, .SwiperSection .swiper-container .swiper-button-prev {
  color: #ffffff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}
.SwiperSection .swiper-container .swiper-button-next:hover, .SwiperSection .swiper-container .swiper-button-prev:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.SwiperSection .swiper-container .swiper-button-next::after, .SwiperSection .swiper-container .swiper-button-prev::after {
  font-size: 20px;
}
.SwiperSection .swiper-container .swiper-button-next {
  right: 10px;
}
.SwiperSection .swiper-container .swiper-button-prev {
  left: 10px;
}
.SwiperSection .swiper-container .swiper-pagination {
  bottom: 10px;
}
.SwiperSection .swiper-container .swiper-pagination-bullet {
  background: #ffffff;
}

.InfoSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #f4f4f4;
}
.InfoSection .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.InfoSection .content {
  max-width: 600px;
}
.InfoSection .content h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.InfoSection .content p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 2rem;
}
.InfoSection .content .stats {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}
.InfoSection .content .stats .stat-item {
  display: flex;
  align-items: center;
}
.InfoSection .content .stats .stat-item i {
  font-size: 2rem;
  color: #007bff;
  margin-right: 0.6rem;
}
.InfoSection .content .stats .stat-item div {
  display: flex;
  flex-direction: column;
}
.InfoSection .content .stats .stat-item div span {
  font-size: 1.5rem;
  font-weight: bold;
}
.InfoSection .content .stats .stat-item div p {
  margin: 0;
  font-size: 1rem;
  color: #666;
}
.InfoSection .content .contact-button {
  display: inline-block;
  background-color: rgb(11, 32, 58);
  color: rgb(255, 255, 255);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}
.InfoSection .content .contact-button i {
  margin-right: 0.5rem;
}
.InfoSection .content .contact-button:hover {
  background-color: #0056b3;
}
.InfoSection .video {
  position: relative;
  width: 600px;
  height: 700px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.InfoSection .video img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.InfoSection .video .play-button {
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.InfoSection .video .play-button i {
  font-size: 2rem;
  color: #fff;
}
.InfoSection .video .play-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

footer .bg-overlay {
  background: url("https://placehold.co/1920x1080") no-repeat center center/cover;
  position: relative;
  padding: 50px 80px;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .bg-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}
footer .text-center {
  position: relative;
  z-index: 1;
}
footer .list-inline-item a {
  color: #fff;
  font-size: 1.5rem;
  transition: color 0.3s;
}
footer .list-inline-item a:hover {
  color: #007bff;
}
footer h5 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
footer p {
  font-size: 1rem;
  margin: 0.25rem 0;
}
footer .btn {
  font-size: 1.2rem;
}
footer .logo {
  width: 100px;
}
footer .list-unstyled li {
  margin-bottom: 0.5rem;
}
footer .list-unstyled a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}
footer .list-unstyled a:hover {
  color: #007bff;
}
footer .z-Ind {
  z-index: 9;
}/*# sourceMappingURL=style.css.map */